.Wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 120px;
}

#image {
  z-index: -1;
  position: absolute;
  height: 90vh;
  width: 100%;
}

.row-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 40px;
  margin-top: 350px;
  width: 900px;
  margin-left: 160px;
  /* background-blend-mode: darken; */
}

#date {
  width: 200px;
  height: 30px;
  padding-left: 10px;
  color: black;
  cursor: pointer;
}

#schedule-button {
  cursor: pointer;
  padding: 10px;
  margin-left: 20px;
  border: 0;
  height: 35px;
  background-color: white;
  color: black;
  text-transform: uppercase;
  border: 1px solid black;
}

#schedule-button:hover {
  color: white;
  background-color: rgb(105, 1, 202);
  border: none;
}

table {
  /* margin-top: 100px; */
  border-collapse: collapse;
}
#all-routes-table {
  border: 2px solid gray;
  word-wrap: normal;
  text-align: center;
  vertical-align: middle;
  margin-top: 2000px;
}

#all-routes-table td {
  padding: 22px;
  border: 1px solid gray;
}

#all-routes-table th {
  text-transform: uppercase;
  padding: 15px;
  border: 1px solid gray;
}

#book-seat-button {
  background-color: white;
  color: black;
  font-weight: bold;
  cursor: pointer;
}
#book-seat-button:hover {
  background-color: black;
  color: white;
  font-weight: bold;
}

.table-wrapper {
  display: flex;
  justify-content: center;
}
