.Register-wrapper {
  display: flex;
}
#register-image {
  height: 99.6vh;
  width: 100%;
  z-index: -1;
  position: absolute;
}

.register-form {
  background-color: white;
  margin-left: 400px;
  margin-top: 120px;
  width: 450px;
  padding: 5px;
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
  -webkit-box-shadow: -1px 4px 14px -2px rgba(255, 0, 0, 1);
  -moz-box-shadow: -1px 4px 14px -2px rgba(255, 0, 0, 1);
  box-shadow: -1px 4px 14px -2px rgba(255, 0, 0, 1);
}

#email {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 250px;
  font: 200px;
  height: 25px;
  border: 1px solid black;
  text-align: center;
}

#name {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 250px;
  font: 200px;
  height: 25px;
  border: 1px solid black;
  text-align: center;
  margin-bottom: 10px;
}

#password {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 250px;
  margin-top: 10px;
  font: 200px;
  border: 1px solid black;
  height: 25px;
  text-align: center;
}

#register-button {
  padding: 10px;
  font-size: 15px;
  text-transform: uppercase;
  border: 0;
  width: 140px;
  margin-top: 20px;
  margin-left: 63px;
  cursor: pointer;
}

#register-button:hover {
  background-color: lightsalmon;
  color: white;
}

.register-row-3 {
  margin-top: 10px;
  margin-left: 5px;
  font-size: 12px;
}

.register-row-3 span {
  cursor: pointer;
  font-weight: bolder;
}

.register-row-3 span:hover {
  font-size: 12.5px;
  color: rgba(140, 0, 0, 1);
}

.register-row-0 {
  text-align: center;
}

.register-row-0 p {
  margin: 14px;
  font-weight: bold;
  font-size: 25px;
  user-select: none;
}
